{% extends 'components/base.html'%}

{% block body%}
<div class="ml-8">
	<!-- Summary -->
	<div>
		Description general settings
	</div>

	<!-- Body -->
	<div>
		<div class="mt-8">
			<h2 class="">Layouts</h2>
			<div>
				=> Comment or Uncomment for Disable/Enable layout.<br>
				Avaible on all monitors.
			</div>
			<div>
				layouts_list = [<br>
					"Max",<br>
					"MonadTall",<br>
					"MonadWide",<br>
					"Tile",<br>
					# "VerticalTile",<br>
					# "RatioTile",<br>
					# "Bsp",<br>
					# "Columns",<br>
					# "Matrix",<br>
					# "Zoomy",<br>
					# "Stack",<br>
					# "TreeTab",<br>
					"Floating"<br>
				]
			</div>
		</div>
		<div class="mt-8">
			<h2 class="">Groups</h2>
			<div>
				# => Groups labels.<br>
				# labels are what you see in the groups widget in the bar<br>
				group_labels = ["", "", "", "", "", "", "", "", "", ""]<br>
				#group_labels = ["", "", "喝", "", "", "卑", "", "柳", "謁", "ﴰ"]<br>
				#group_labels = ["一", "二", "三", "四", "五", "六", "七", "八", "九", "十"]<br>
			</div>
			<div>
				# => Scratchpad<br>
				scratchpad_label = ""
			</div>
			<div>
				# => Groups layouts<br>
				# define what layout use in what group<br>
				# see all available names in layouts_list<br>
				group_layouts = [<br>
					"monadtall",    # 1<br>
					"max",          # 2<br>
					"monadwide",    # 3<br>
					"tile",         # 4<br>
					"max",          # 5<br>
					"monadwide",    # 6<br>
					"monadwide",    # 7<br>
					"monadwide",    # 8<br>
					"tile",         # 9<br>
					"monadtall"     # 10<br>
				]
			</div>
		</div>
	</div>
</div>
{% endblock %}

{%block props %}
	<h2> Properties </h2>
{%endblock%}
