{% extends 'components/base.html'%}

{% block body%}
	<div>
		<!-- Header -->
		<div>
			<h1>Welcome home</h1>
		</div>

		<!-- Body -->
		<div>
			<div>
				<h2> Title 1 </h2>
				<p> Lorem ipsum </p>
			</div>
			<div>
				<h2> Title 2 </h2>
				<p> Lorem ipsum </p>
			</div>

		</div>
	</div>
{% endblock %}
