<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Properties -->
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- Title -->
	<title>
	{% if title %}
		{{ title }}
	{% else %}
		Qtile server
	{% endif %}
	</title>

	<!-- Load resources -->
	<link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='favicon.ico') }}"/>
	<link rel="stylesheet"    type="text/css"  href="{{url_for('static', filename="css/main.css")}}"/>
	<script type="module" src="{{url_for('static', filename='js/ionicons/ionicons.esm.js')}}"></script>
	<script nomodule=""   src="{{url_for('static', filename='js/ionicons/ionicons.js')}}"></script>
</head>
<body>
	<div class="min-h-screen w-full flex font-sans bg-white">
		{%include 'components/sidebar.html'%}

		<div class="w-full flex justify-between">
			{%block body %}
			{%endblock%}

			{%block props %}
			{%endblock%}
		</div>
	</div>
</body>
</html>
