<div class="h-screen sidebar-width flex flex-col items-center bg-orange-500">
	<!-- Header -->
	<div class="h-1/3 flex flex-col items-center justify-center">
		<h2 class="text-2xl tracking-wide leading-tight" > QTILE! </h2>
		<p class="text-base leading-tight"> server </p>
	</div>

	<!-- Sections -->
	<div class="w-1/2 text-lg text-left">
		<ul>
			{% for i in ["home", "general", "applications", "themes", "profiles"] %}
				<li>
					<ion-icon name="heart"></ion-icon>
					{# <a href="{{url_for(i)}}">{{i.capitalize()}}</a> #}
				</li>
			{% endfor %}
		</ul>
	</div>
</div>
